.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f4f4f4; */
  /* background-color: #f9e9a7; */
  background-image: linear-gradient(to bottom right, #f4f4f4, #f9e9a7);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 102%;
  max-width: 300px;
  height: 39vh;
  margin: auto;
  overflow: hidden;
  position: relative; /* Ensures absolute children are positioned correctly */
  transition: transform 0.3s ease;
  margin-top: 1vh;
  margin-left: 1vh;
  margin-bottom: 1vh;
  height: 53vh;
}

.service-card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.try {
  padding: 25px;
  text-align: center;
}

.try h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.try p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  padding: 2px;
}

/* App button */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2; /* Ensure it's above the pseudo-elements */
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 1; /* Lower than the button itself */
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
  z-index: 0; /* Keep it below the button */
}