.services-page {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .services-page .header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .services-page .header p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
  }
  
  .services-page .services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .services-page .service-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
  }
  .services-page .service-card .try{
    padding: 1.5rem;  
  }
  .services-page .service-card .try h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: -20px;
    font-family: "Outfit", sans-serif;
  }
  
  .services-page .service-card p {
    color: #666;
    font-size: 1.1rem;
    margin-top: -10px;
  }
  
  
  .service-card {
    position: relative; /* Needed to position the button absolutely within this container */
    
  }
   
  /* App button */
  
  .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: absolute; /* Position absolutely within the card */
    bottom: 10px; /* Position 10px from the bottom */
    right: 10px; /* Position 10px from the right */
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
   
  
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  card-image
  .card-image{
    width: 100%;
    position: sticky;
  }