.footer {
    margin-top: 2rem;
    background-color: rgb(13, 48, 72);
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.footer-logo h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ffcb05;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-media li {
    margin: 0;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .footer-links {
        grid-template-columns: 1fr;
    }
}
