.popular-cards {
    /* background-color: #5dade2; */
    background-image: linear-gradient(to bottom right, white, #5dade2);
    height: 45vh;
    width: 45vh;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.popular-cards img {
    height: 65%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}

.popular-cards-heading {
    padding: 15px;
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: white;
}

.popular-cards button {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
    border: none;
    color: #5dade2;
    padding: 5px 15px 5px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}