body {
  height: auto;
  width: auto;
  /* background-color: black; */
}

.y {
  text-align: center;
  margin-top: 19%;
}

h1{
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h2{
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  height: 200px;
  width: auto;
  background-color: orange;
}

.nav {
  text-align: center;
  height: 50px;
  color: white;
}
label{
  display: flex;
  list-style-type: none;
  justify-content:space-around;
  text-align:center;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#l{
  text-decoration: none;
}