html {
    scroll-behavior: smooth;
}

.customer-support-hr {
    margin: 2rem;
}

.customersupport-wrapper {
    height: auto;
    margin-top: auto;
}

header {
    /* background-color: #34495e; */
    background-color: #0e0909;
    /* background: transparent; */
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 8.5%;
}

header a {
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    transition: .5s;
}

header a:hover {
    color: #f1c40f;
}

section {
    /* height: 100vh; */
    width: 100%;
}

/* Section 1 CSS */


#section1 {
    /* background: blue; */
    height: 100vh;
    padding-top: 6.8rem;
}

#section1 img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.contact {

    height: 40vh;
    width: 80%;
    margin: auto;
    margin-top: -60px;
    display: flex;
    gap: 100px;
}

.contact div {
    background-color: white;
    height: 100%;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    /* border: 1px solid gray; */
    font-family: "Outfit", sans-serif;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.call, .chat {
    display: grid;
}

.contact h3 {
    color: #f1c40f;
    font-size: 20px;
}

.contact label {
    font-size: 20px;
}

.chat label {
    font-size: 20px;
    padding: 0px 1.5rem;
}

.call i,
.chat i {
    font-size: 50px;
    padding-top: 40px;
    color: #f1c40f;
}

/* Section 2 CSS */

#section2 {
    /* background: rgb(215, 242, 198); */
    height: 110vh;
    /* padding-top: 10%; */

}

.help-heading {
    /* background-color: red; */
    height: 15vh;
    width: 95%;
    margin-inline: auto;
    font-family: "Outfit", sans-serif;
}

.help-heading .heading-1 {
    font-size: 30px;
    font-weight: 500;
    color: #2e4053;
}

.help-heading .heading-2 {
    padding-top: 10px;
    font-size: 18px;
    color: #85929e;
}

.help-container {
    /* background-color: beige; */
    height: auto;
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.help-container div {
    /* background-color: red; */
    height: 35vh;
    width: 40vh;
    border-radius: 10px;
    /* border: 1px solid #aeb6bf; */
    transition: .5s;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.help-container .help-card {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
}

.help-container .help-card img {
    height: 70px;
    width: 70px;
    padding-bottom: 10px;
    border-bottom: 2px solid #2e405346;
}

.help-container .help-card label {
    /* padding-top: 20px; */
    padding-inline: 20px;
    font-size: 18px;
    cursor: pointer;
}

.help-footer {
    /* background-color: #2e4053; */
    height: auto;
    width: 100%;
    margin-top: 40px;
    display: flex;
    gap: 30px;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.help-footer img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.help-footer label {
    float: right;
}

/* Section 3 CSS */


/* Review Section */
#section3 {
    /* background: rgb(132, 228, 245); */
    /* padding-top: 8%; */
    height: auto;
}

.section3-heading {
    /* background-color: #2e4053; */
    height: 50px;
    width: 95%;
    margin-inline: auto;
    margin-top: 2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 40px;
    align-items: center;
}

.review-container {
    /* background-color: rgb(134, 250, 175); */
    height: auto;
    width: 95%;
    margin-inline: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-container .review-card {
    background-color: #f9e9a7;
    height: 15vh;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.review-dp-container {
    /* background-color: red; */
    height: 100%;
    width: 15vh;
    text-align: center;

}

.review-dp {
    height: 10vh;
    width: 10vh;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 16%;
}

.review-name-star {
    padding-left: 10rem;
    margin-top: -5rem;
}

.review-name-star label {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    padding-right: 20px;
}

.checked {
    color: orange;
}

.review-description {
    padding-top: 10px;
    padding-left: 10rem;
    font-size: 17px;
}


/* Feedback Section */


.review-submit-container {
    font-family: "Outfit", sans-serif;
    /* background-color: red; */
    background-image: url('./images/reviewImg.jpeg');
    height: 60vh;
    width: 60%;
    margin-inline: auto;
    margin-top: 2rem;
    display: grid;
    background-size: cover;
    color: rgb(36, 65, 85);
    background-position: center;
    border-radius: 10px;
}

.review-submit-container h1 {
    /* background-color: wheat; */
    margin-inline: 1rem;
    margin-top: 1rem;
    font-size: 25px;
}

.review-submit-form {
    /* background-color: yellow; */
    width: 50%;
    height: auto;
    margin-inline: 1rem;

}

.review-submit-form input {
    width: 100%;
    margin: .5rem 0;
    padding-top: .5rem ;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    height: 3vh;
    font-size: 1.7vh;
    font-family: 'Courier New', Courier, monospace;
    
}

.review-submit-form input::placeholder{
    padding-left: .5rem ;
    padding-bottom: .5rem;
    justify-content: center;
    align-items: center;
}


.review-submit-form .review-input-opinion {
    height: 15vh;
    text-align:unset;
}

.review-submit-form .review-input-opinion::placeholder {
    position: absolute;
    top: .5rem;
}

.review-submit-button {
    float: right;
    border: none;
    padding: 15px;
    border-radius: 15px;
    background-color: #f1c40f; ;
    color: black;
    font-size: 15px;
    transition: .5s;
}

.review-submit-button:hover {
    /* background-color:rgb(0, 255, 153); */
    background: #f1c40f;
    /* background: linear-gradient(180deg, #07e98b, #00e1e9); */
    color: whitesmoke;

    cursor: pointer;
}



/* Section 4 CSS */


/* #section4 {
    padding-top: 6rem;
    
    
} */

.top {
    height: 50vh;
    width: auto;
}

.top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us {
    padding-top: 2rem;
    font-family: "Outfit", sans-serif;
}

.content-wrapper {
    display: flex;
}


.about-us-content,
.our-services-content {
    height: 15rem;
    width: 40rem;
    margin: auto;
    background: #f9e9a7;
    color: rgb(3, 48, 72);
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-us-content h1,
.our-services-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.about-us-content p
{
    text-align: justify;

}

.our-services-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.meet-team {
    margin-top: 2rem;
    /* background-color: red; */
    width: 95%;
    margin-inline: auto;
}

.team-members {
    height: 60vh;
    width: 70%;
    /* background-color: red; */
    display: flex;
    margin-top: 30px;
    margin: auto;
}

.team-member {
    margin: auto;
    height: 55vh;
    width: 30vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    background-color: #fff;
}

.team-member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.team-member h5 {
    font-size: 1em;
    color: #f1c40f;
    margin-bottom: 10px;
}

.our-mission {
    height: 20vh;
    width: 95%;
    /* background-color: red; */
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 30px;
    margin-inline: auto;
}

.our-mission h2,
p {
    padding-inline: 2rem;
}

.our-mission h2 {
    font-size: 1.5em;
    margin-bottom: .5rem;
    /* margin-top: .5rem; */
    /* border-bottom: 2px solid #000; */
    padding-top: .5rem;
}

.our-mission hr{
    width: 98%;
    margin-inline: auto;
    margin-bottom: .5rem;
}

.our-mission p {
    text-align: justify;
}