.dash-container {
  margin-top: 9vh;
  margin-left: auto;
  font-family: "Poppins", sans-serif;
}


.side-nav {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  float: left;
  width: 20vh;
  height: 128.4vh;
  margin-top: -.2rem;
  font-family: "Poppins", sans-serif;
}

.side-nav-options li {
  margin-inline: .5rem;
  margin-top: 1.4rem;
  /* margin-bottom: .5rem; */
  list-style: none;
  cursor: pointer;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  transition: .2s ease-in-out;
  color: black;
}

.side-nav-options li:hover {
  background-color: #f1c40f;
  /* color: black; */
}

.dash-home {
  background-color: white;
  margin-top: 1rem;
  height: 10vh;
  /* width: 100%; */

}

.dash-home img {
  height: 80%;
  margin-inline: 1rem;
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.dash-home p {
  font-size: 30px;
  margin-top: .6rem;
  margin-left: -1rem;
}

.dash-info {
  /* background-color: rgb(0, 255, 42); */
  margin-top: 1rem;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-small-box {
  /* background-color: #07e98b; */
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.box {
  background-color: #f9e9a7;
  /* border: 1px solid black; */
  width: 40%;
  height: auto;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box img {
  width: 3rem;
  height: 3rem;
  float: right;
  margin-right: 1rem;
  cursor: pointer;
}

.box h3 {
  display: flex;
  /* justify-content: center; */
  padding: 10px;
}

.box span {
  padding: 10px 10px;
}

.growth {
  display: flex;

}

.right-big-box {
  /* background-color: rgb(255, 0, 0); */
  width: 70vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 5vh;
  height: 56vh;
  overflow: hidden;
  /* overflow-y: scroll; */
}

.right-big-box nav{
  background-color: #f1c40f;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  align-items: center;
  
}

.right-big-box nav div{
  padding-inline: .5rem;
}

.right-big-box nav .mid-nav{
  border-left: 2px solid black;
  border-right: 2px solid black;
  /* padding-inline: .5rem; */

}

.right-big-box-sections-section{
  /* background-color: rgb(102, 255, 0); */
  /* overflow: hidden; */
  width: 100%;
  height: 50vh;
  width: 95%;
  margin-inline: auto;
  text-align: center;
  
}
.right-big-box-sections-section h3 {
  padding-top: .5rem;
  margin-bottom: .5rem;
  font-size: 20px;
  border-bottom: 2px solid black;
}
.right-big-box-sections-section label{
  font-size: 18px;
}

.right-big-box-sections-section div{
  margin-bottom: 1rem;
  
}

.right-big-box-sections-section input{
  padding: .5rem 1rem;
  width: 80%;
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

.right-big-box-sections-section button{
  background-color: #f1c40f;
  padding: .5rem 1rem;
  margin-inline: .5rem;
  border: 2px solid black;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
}






.order-details {
  font-family: "Poppins", sans-serif;
  background-color: white;
  height: 50vh;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 0px 1rem;
  margin-top: 1rem;
}
.order-details h3{
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  
  margin: 20px 0;
}

th,
td {
  border: 1px solid black;
  padding: 12px;
  text-align: left;
  vertical-align: middle;
  box-sizing: border-box;
}

th {
  background-color: #f9e9a7;
  font-weight: bold;
}

/* tr:nth-child(even) {
  background-color: #f9f9f9;
} */

.dash-home {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dash-home ul {
  list-style: none;
  display: flex;
  padding: 5px;
  margin-left: 1vh;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.dash-home a {
  text-decoration: none;
  color: black;
}

.dash-home ul img {
  width: 4vh;
  height: 3.5vh;
  padding: 0px 6px;
}



html {
  scroll-padding-top: 130.5px; 
}
 