.seller {
  /* background-color: red; */
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.photo {
  margin-top: 5vh;
}

.photo img {
  width: 60vh;
  height: auto;
  margin-left: 15%;
}

.content {
  margin-left: 5rem;
  font-weight: 200;
  font-size: 20px;
  margin-top: 2vh;

}

.content h1 {
  margin-bottom: 2vh;
}

.content p {
  line-height: 1.6;

}

.seller .content {
  max-width: 70vh;
}

.cta-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cta-form input {
  padding: 12px 20px;
  width: 300px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  margin-top: 1.5rem;
}

.cta-form button {
  padding: 12px 20px;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  color: #fff;
  /* background-color: #007bff; */
  background: #5EDDCB;
  background: linear-gradient(180deg, #e74c3c, #f1c40f);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-form button:hover {
  background-color: #0056b3;
}

.features ul {

  list-style-type: none;
  margin-left: 15vh;
  z-index: 1000000;
  margin-top: 4vh;

}

.features li {
  justify-content: space-between;
  margin-bottom: 5vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  height: 10vh;
  width: 30vh;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  display: flex;
  border-radius: 10px;
}



.feature-item img {
  width: 8vh;
  margin-left: 1rem;
  height: 8vh;

}

.feature-item p {
  font-size: 1.3rem;
  color: #333;

}

.info {
  /* background-color: red; */
  margin-left: 5%;
  margin-right: 1%;
  margin-top: 5vh;

}

.info p {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.6;
}

.steps {
  /* background-color: rgb(0, 255, 55); */
  display: flex;
  /* gap: 10px; */
  /* justify-content: space-between; */
  margin-top: 3rem;
  width: auto;
  height: auto;

}

.steps img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid black;
  padding: .5rem;
}

.step1 {
  /* background-color: #00e1e9; */
  width: 20rem;
  margin-inline: auto;
  text-align: center;
}

.step1 h3 {
  font-size: 25px;
}