.services-page-container {
    width: 95%;
    margin: auto;
    /* padding: 2rem; */
    /* text-align: center; */
    margin-top: 10vh;
    /* justify-content: center; */
    /* align-items: center; */
    font-family: "Poppins", sans-serif;
  }
  .services-page-container .header-services{
    background-color: #f9e9a7;
    padding: .5rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .services-page-container .header-services img{
    height: 8rem;
    width: 8rem;
    padding: .5rem;
  }

  .header-heading{
    /* background-color: #002bff; */
    margin-left: 1rem;
    height: 15vh;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;

  }
  .services-page-container .header-services h1 {
    font-weight: 400;
    font-size: 2.5rem;
    /* margin-bottom: .5rem; */
    
  }
 
  .services-page-container .header-services .service-p {
    padding: 0;
    font-size: 1.2rem;
    color: #666;
    
    /* margin-bottom: 2rem; */
  }
  
  .services-page-container .services-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
    
  .services-page-container .services-card {
    /* background-color: #fff; */
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    text-align: left;
    overflow: hidden;
    padding-right: 12vh;
  }
  .services-page-container .services-card .try{
    padding: 1.5rem;  
  }
  
  .services-page-container .services-card .try h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: -20px;
    font-family: "Outfit", sans-serif;
  }
  
  .services-page-container .services-card p {
    color: #080808b0;
    font-size: 1.1rem;
    margin-top: -10px;
  }
  
  
  .services-card {
    position: relative; /*Needed to position the button absolutely within this container */
    
  }
  


  .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: absolute;   /*relative */
    bottom: 10px; 
    right: 10px; 
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  } 
   
  
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px; 
  }
  
   @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  } 
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }  
 

  .card-image{
    width: 100%;
    position: sticky;
  }
  